.profile__edit-btn {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-color: transparent;
  background-image: url(../../../images/profile__edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 0.6;
  transition: 0.7s linear;
}

@media screen and (max-width: 620px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}