.profile__name {
  margin: 0;
  width: 295px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 620px) {
  .profile__name {
    width: 189px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}