.popup__input {
  padding: 0;
  width: 100%;
  height: 27px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup__input + .popup__input {
  margin-top: 30px;
}

@media screen and (max-width: 620px) {
  .popup__input {
    font-size: 12px;
  }
}