.popup__container {
  margin: 0;
  position: relative;
  width: 100%;
  max-width: 358px; /* 430 - (36 + 36) */
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px 36px;
  color: #000000;
}

.popup__container:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);

}

@media screen and (max-width: 620px) {
  .popup__container {
    max-width: 238px; /* 282 - (22 + 22) */
    padding: 25px 22px;
  }
}

