.popup__container {
  margin: 0;
  position: relative;
  width: 358px; /* 430 - (36 + 36) */
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 36px 36px;
}

@media screen and (max-width: 620px) {
  .popup__container {
    width: 238px; /* 282 - (22 + 22) */
    padding: 25px 22px;
  }
}