.footer { 
  display: flex;
  max-width: 880px;
  padding: 0 0 60px 0;
  align-self: flex-start;
}

@media (max-width: 620px) {
  .footer {
    max-width: 282px;
    padding-bottom: 36px;
    padding-left: 19px;
  }
}