.element__delete-btn {
  position: absolute;
  width: 18px;
  height: 19px;
  border: none;
  background: url('../../../images/delete-button.svg') no-repeat center;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  top: 20px;
  right: 20px;
}

.element__delete-btn:hover {
  opacity: 0.6;
}