.profile__edit-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 18px;
}

@media screen and (max-width: 620px) {
  .profile__edit-container {
    gap: 10px;
    margin: 0 auto;
  }
}