.element__like-btn {
  width: 22px;
  height: 19px;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/like-button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
}

.element__like-btn:hover {
  opacity: 0.5;
}
