.popup__title {
  margin: 0;
  width: 330px;
  height: 29px;
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 54px;
}

@media screen and (max-width: 620px) {
  .popup__title {
    width: 238px;
    height: 22px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }
}