.profile__edit-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 18px;
}

@media screen and (max-width: 620px) {
  .profile__edit-caption {
    gap: 10px;
  }
}